<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1>TO DO APP</h1>
    <span>To do: </span>
    <input type="text" v-model="todo">
    <button type="button" @click="add()">Add</button>
    <h3>To Do List</h3>
    <ol>
      <li v-for="todo in todos" v-on:dblclick="remove(todo)">{{todo}}</li>
    </ol>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        todo: '',
        todos: []
      },
      methods: {
        add: function() {
          this.todos.push(this.todo);
          this.todo = '';
        },
        remove: function(todo) {
            this.todos = this.todos.filter(t => t !== todo);
        }
      }
    });
  </script>
</body>
</html>