<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Currency</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    table {
      border-collapse: collapse;
      text-align: center;
      font-family: sans-serif, Arial;
    }

    th, td {
      padding: 10px;
    }

    table, th, td {
      border: 1px solid black;
    }
  </style>
</head>
<body>
<div id="app">
  <table v-if="tableData.length > 0">
    <thead>
    <tr>
      <th>
        Currency
      </th>
      <th>
        Code
      </th>
      <th>
        Mid
      </th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="({currency, mid, code}) in tableData">
      <td>{{currency}}</td>
      <td>{{code}}</td>
      <td>{{mid}}</td>
    </tr>
    </tbody>
  </table>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            tableData: []
        },
        methods: {
            getData() {
                const URL = 'http://api.nbp.pl/api/exchangerates/tables/a/?format=json';
                fetch(URL)
                    .then((res) => res.json())
                    .then((res) => this.tableData = res[0].rates);
            }
        },
        mounted() {
            this.getData();
        }
    });
</script>
</body>
</html>